.Hero {
  height: 100vh;
  width: 100%;
  h2 {
    @media screen and (max-width: 750px) {
      font-size: 30px;
      &::before {
        font-size: 30px;
      }
      &::after {
        font-size: 30px;
      }
    }
    @media screen and (max-width: 450px) {
      font-size: 20px;
      &::before {
        font-size: 20px;
      }
      &::after {
        font-size: 20px;
      }
    }
  }

  .content {
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

  @keyframes typing {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  @keyframes typingReverse {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink-cursor {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #999;
    }
  }

  @keyframes cursor-wait {
    from,
    to {
      border-color: #999;
    }
    50% {
      border-color: transparent;
    }
  }

  @keyframes hide-me {
    100% {
      visibility: hidden;
      height: 0;
      width: 0;
    }
  }

  @keyframes show-me {
    from,
    to {
      visibility: visible;
      height: auto;
      width: auto;
    }
  }

  .typing-words .word {
    position: relative;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .typing-words .word:after {
    content: attr(text);
    color: transparent;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    z-index: 1;
    border-left: 3px solid transparent;
  }

  .typing-words .word:nth-child(1) {
    animation: 3s show-me 0s;
  }

  .typing-words .word:nth-child(1):after {
    animation: 1s typing steps(20), typingReverse 3s steps(20) 4s forwards,
      0.6s blink-cursor step-end infinite, 0.6s cursor-wait step-end 1 1s;
  }

  .typing-words .word:nth-child(2) {
    animation: 3s show-me 3s;
  }

  .typing-words .word:nth-child(2):after {
    animation: 1s typing 3s steps(20), typingReverse 3s steps(20) 8s forwards,
      0.6s blink-cursor step-end infinite, 0.6s cursor-wait step-end 1 5s;
  }

  .typing-words .word:nth-child(3) {
    animation: 2s show-me 6s forwards;
  }

  .typing-words .word:nth-child(3):after {
    animation: 1s typing 6s steps(20) forwards, 0.6s blink-cursor 6s step-end 6;
  }
}
