.Skills {
  margin-top: 30px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  align-items: center;

  h1 {
    text-align: center;
  }
  .container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    max-width: 1100px;
    margin-top: 100px;
  }
  button {
    margin-top: 150px;
  }
  .box {
    display: flex;
    padding: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
    justify-content: center;
    box-shadow: rgba(0, 231, 218, 1) -5px 5px, rgba(0, 231, 218, 0.3) -10px 10px,
      rgba(0, 231, 218, 0.2) -15px 15px, rgba(0, 231, 218, 0.1) -20px 20px,
      rgba(0, 231, 218, 0.05) -25px 25px;
    transition: all ease-in-out 300ms;
    &:hover {
      transition: all ease-in-out 300ms;
      -webkit-animation: mover 1s infinite alternate;
      animation: mover 1s infinite alternate;

      @-webkit-keyframes mover {
        0% {
          transform: translateY(100);
        }
        100% {
          transform: translateY(-10px);
        }
      }
      @keyframes mover {
        0% {
          transform: translateY(100);
        }
        100% {
          transform: translateY(-10px);
        }
      }
    }
  }
}
